.container
  .py-5.text-center
    %h1= 'Choose a converter'
  .row
    .col-md-12
      %a= link_to "Amazon Converter", amazon_documents_path
  .row
    .col-md-12
      %a= link_to "Article Converter", input_docs_path